body{
	background: repeat;
	background-image: url(images/bg.png);

}

#create {
	font-family: helvetica;
	position: absolute;
	text-align: center;
	color: white;
	opacity: 0.9;
	width: 150px;
	z-index: 100;
	top: 50px;
	left: 170px;
	padding-top: 10px;
	height: 24px;
	border-radius: 4px;
	background: none repeat scroll 0px 0px rgb(100, 100, 100);
}



#create:hover {
		background: none repeat scroll 0px 0px rgb(200, 200, 200);
		cursor: pointer;
}

#switch {
	font-family: helvetica;
	position: absolute;
	text-align: center;
	color: white;
	opacity: 0.9;
	width: 150px;
	z-index: 100;
	top: 5px;
	left: 330px;
	padding-top: 10px;
	height: 24px;
	border-radius: 4px;
	background: none repeat scroll 0px 0px rgb(100, 100, 100);
}

#switch:hover {
		background: none repeat scroll 0px 0px rgb(200, 200, 200);
		cursor: pointer;
}

#optimize {
	font-family: helvetica;
	position: absolute;
	text-align: center;
	color: white;
	opacity: 0.9;
	width: 150px;
	z-index: 100;
	top: 5px;
	left: 170px;
	padding-top: 10px;
	height: 24px;
	border-radius: 4px;
	background: none repeat scroll 0px 0px rgb(100, 100, 100);
}

#optimize:hover {
		background: none repeat scroll 0px 0px rgb(200, 200, 200);
		cursor: pointer;
}

#drop_zone {
	font-family: helvetica;
	position: absolute; 
	left: 5px;
	top: 5px; 
	text-align: center;
	padding-top: 50px; 
	border: dashed;
	border-width: 1px; 
	border-radius: 4px; 
	color: white;
	opacity: .9;
	width: 150px; 
	height: 67px; 
	z-index: 100;
}

#drop_zone:hover{
	background: rgb(200,200,200);
	cursor: n-resize;
}

#overlay{
	background: rgb(255, 255, 255) none repeat scroll 0 0;
    height: 100%;
    opacity: 0.7;
    position: absolute;
    width: 100%;
    z-index: 1000;
    margin: -8px;
}