body{
	background: repeat;
	background-image: url(images/bg.png);
	overflow: hidden;

}

#create {
	font-family: helvetica;
	position: absolute;
	text-align: center;
	color: white;
	width: 150px;
	z-index: 100;
	top: 50px;
	left: 170px;
	padding-top: 10px;
	height: 24px;
	border-radius: 4px;
	background: none repeat scroll 0px 0px rgb(100, 100, 100);
	display: auto;
}



#create:hover {
		background: none repeat scroll 0px 0px rgb(200, 200, 200);
		cursor: pointer;
}

#switch {
	font-family: helvetica;
	position: absolute;
	text-align: center;
	color: white;
	width: 150px;
	z-index: 100;
	top: 5px;
	left: 330px;
	padding-top: 10px;
	height: 24px;
	border-radius: 4px;
	background: none repeat scroll 0px 0px rgb(100, 100, 100);
	display: auto;
}

#switch:hover {
		background: none repeat scroll 0px 0px rgb(200, 200, 200);
		cursor: pointer;
}

#optimize {
	font-family: helvetica;
	position: absolute;
	text-align: center;
	color: white;
	width: 150px;
	z-index: 100;
	top: 5px;
	left: 170px;
	padding-top: 10px;
	height: 24px;
	border-radius: 4px;
	background: none repeat scroll 0px 0px rgb(100, 100, 100);
	display: auto;
}

#optimize:hover {
		background: none repeat scroll 0px 0px rgb(200, 200, 200);
		cursor: pointer;
}

#drop_zone {
	font-family: helvetica;
	position: absolute; 
	left: 5px;
	top: 5px; 
	text-align: center;
	padding-top: 50px; 
	border: dashed;
	border-width: 1px; 
	border-radius: 4px; 
	color: white;
	width: 150px; 
	height: 67px; 
	z-index: 100;
	display: auto;
}

#drop_zone:hover{
	background: rgb(200,200,200);
	cursor: n-resize;
}

#overlay{
	background: rgb(255, 255, 255) none repeat scroll 0 0;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    z-index: 1000;
    margin: -8px;
    visibility: visible;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

#info{
 	/*background: rgb(255, 255, 255) none repeat scroll 0 0;*/
 	background-image: url(images/bgT.png);

    font-family: helvetica;
    height: 80%;
  
    max-height: 1000px;
    max-width: 1000px;
    overflow-y: hidden;
    padding: 15px;
    position: absolute;
    text-align: center;
    top: 50px;
    width: 80%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
    overflow: visible;

    right: 0;
    left: 0;
    margin: auto;


}

.transitionLeft{
	-webkit-transition: left .5s;
    -moz-transition: left .5s;
    -o-transition: left .5s;
    transition: left .5s;
}

#info_ghost{
 	background: rgb(255, 255, 255) none repeat scroll 0 0;
    font-family: helvetica;
    height: 80%;
  
    max-height: 1000px;
    max-width: 1000px;
    overflow-y: hidden;
    padding: 15px;
    position: absolute;
    text-align: center;
    top: 50px;
    width: 80%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
    overflow: visible;

    right: 0;
    left: 0;
    margin: auto;

    visibility: hidden;

}

#scroller{
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: 1;
}

#info_content{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-right: 15px; /* Increase this value for cross-browser compatibility */
    /*margin-left: 7px;*/
    opacity: 1;
}

#text_content{
	font-size: 10pt;
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;

    -webkit-column-width: 200px;
    -moz-column-width: 200px;
    column-width: 200px;

    text-align: left;
    line-height: 1.33;
    font-family: 'Roboto Slab', serif;
}



#text_info{
	margin-top: 50px;
	font-size: 8pt;
	font-weight: 300;
    text-align: left;
    line-height: 1.33;
    font-family: 'Roboto Slab', serif;
}


#text_content::first-letter{
	float: left;
	font-size: 65px;
	line-height: 60px;
	padding-top: 4px;
	padding-right: 8px;
	padding-left: 3px;
	font-family: 'Roboto Slab', serif;
}

.embed-container { 
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	margin-bottom: 50px;
}

.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#headline{
	font-family: "Roboto Slab", serif;
	text-align: left;
	font-style: normal;
	font-weight: 300;
	font-size: 18pt;
	padding: 20px 20px 30px 0px;

}

#holder{
	padding: 5%;
}

#active_button{
 	background-image: url(images/bgT.png);
    bottom: 0;
    height: 50px;
    position: absolute;
    right: -50px;
    width: 50px;
 /*   pointer-events: auto;*/
    cursor: pointer;
}
#active_button:hover{
	cursor: pointer;
}

#active_button_pen{
	position: absolute;
	background-attachment: scroll !important;
    background-clip: border-box !important;
    background-color: rgba(0, 0, 0, 0) !important;
    background-image: url("images/pen.svg") !important;
    background-origin: padding-box !important;
    background-position: 10px 10px;
    background-repeat: no-repeat !important;
    background-size: auto auto !important;
    height: 30px;
    opacity: 0.6;
    padding: 10px;
    width: 30px;
    pointer-events: auto;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
#active_button_pen:hover{
	opacity: 1 !important;
}

#active_button_info{
	position: absolute;
	background-attachment: scroll !important;
    background-clip: border-box !important;
    background-color: rgba(0, 0, 0, 0) !important;
    background-image: url("images/info.svg") !important;
    background-origin: padding-box !important;
    background-position: 10px 10px;
    background-repeat: no-repeat !important;
    background-size: auto auto !important;
    height: 30px;
    opacity: 0;
    padding: 10px;
    width: 30px;
    pointer-events: none;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

#active_button_info:hover{
	opacity: 1 !important;
}

.hideable{
	opacity: 0;
	-webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}


#bottom_creeper{
	font-family: "Roboto Slab", serif;
	position: absolute;
	right: 20px;
	bottom: 14px;
	opacity: 0;
}


@media only screen and
(min-device-width:320px) and
(max-device-width:800px){

	#text_content{
	-webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    text-align: left;
    line-height: 1.33;
	}

	#info_content{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-right: 14px; /* Increase this value for cross-browser compatibility */
    /*margin-left: 7px;*/
	}

	#info{
	 	background: rgb(255, 255, 255) none repeat scroll 0 0;
	    font-family: helvetica;
	    height: 80%;
	  
	    max-height: 1000px;
	    max-width: 1000px;
	    overflow-y: hidden;
	    padding: 15px;
	    position: absolute;
	    text-align: center;
	    top: 50px;
	    width: 80%;
	    z-index: 1000;
	    -webkit-overflow-scrolling: touch;
	    overflow: visible;

	    right: 0;
	    left: 0;
	    margin: auto;
    	
	}

	#overlay{
	background: rgb(255, 255, 255) none repeat scroll 0 0;
    height: 100%;
    opacity: 0.6;
    position: absolute;
    width: 100%;
    z-index: 1000;
    margin: -8px;
	}

}
